{% extends "pretixpresale/event/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "Checkout" %}{% endblock %}
{% block content %}
    <details class="panel panel-default cart">
        <summary class="panel-heading">
            <h3 class="panel-title">
                <span>
                    <strong>{% trans "Deine Anmeldung" %}</strong>
                </span>
                <span>
                    <strong id="cart-deadline-short" data-expires="{{ cart.first_expiry|date:"Y-m-d H:i:sO" }}">
                        {% if cart.minutes_left > 0 or cart.seconds_left > 0 %}
                            {{ cart.minutes_left|stringformat:"02d" }}:{{ cart.seconds_left|stringformat:"02d" }}
                        {% else %}
                            {% trans "Cart expired" %}
                        {% endif %}
                    </strong>
                </span>
            </h3>
        </summary>
    </details>
    {% include "pretixpresale/event/fragment_checkoutflow.html" %}
    {% block inner %}
    {% endblock %}
{% endblock %}
