{% load i18n %}
{% load bootstrap3 %}
{% if order.status == "n" %}
{% if order.require_approval %}
<span class="label label-warning {{ class }}">{% trans "Warten auf Bestätigung" %}</span>
{% else %}
<span class="label label-warning {{ class }}">{% trans "Payment pending" %}</span>
{% endif %}
{% elif order.status == "p" %}
{% if order.count_positions == 0 %}
<span class="label label-info {{ class }}">{% trans "Abgebrochen" %}</span>
{% else %}
<span class="label label-success {{ class }}">{% trans "Bestätigt" %}</span>
{% endif %}
{% elif order.status == "e" %}
<span class="label label-danger {{ class }}">{% trans "Abgelaufen" %}</span>
{% elif order.status == "c" %}
<span class="label label-danger {{ class }}">{% trans "Abgebrochen" %}</span>
{% endif %}
